* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    background: #ffffff;
  }

  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    margin-top: 130px;
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    margin-top: 130px;
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-image: url('book3.jpg');
    width: 100%;
    padding: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .img1 {
    background-image: url('harryblog.jpg');
    width: 100%;
    padding: 170px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .img2 {
    background-image: url('blackfriday.jpg');
    width: 100%;
    padding: 170px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .img3 {
    background-image: url('bookstore.webp');
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

